body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header, .footer {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content:space-between;  
    margin: 0;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 335px;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.header nav {
    padding-right: 335px;
}


.header a,
.header a:hover {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 150px 0;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    width: 40%;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-left p {
    width: 70%;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    background: #6d747d;
}

.hero button {
    background: #3882F6;
    color: #F9FAF8;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 32px;
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.two h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    flex-wrap: nowrap;
}

.image-square {
    border: 5px solid #3b82f6;
    margin: 40px 40px 0 40px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.image-content p {
    color: #565f6d;
    font-size: 20px;
    flex: 0 1 220px;
    max-width: 220px;
    margin-top: 5px;
    text-align: center;
}
